  <!-- ng-click="$event.preventDefault()" -->
  <div id="nav">
  <ul>
    <li> <a href="#/mediaList/{{UserId}}" class="home" ng-click="active='home'"> <h3 class="Title"> Home Library Application</h3> </a> </li>
    <li> <a href=""ng-click="$event.preventDefault()"><h3></h3></a></li>
    <li> <a href="#/" class="logout" ng-click="active='logout'"><h3>Logout</h3></a></li>
    <li> <input type="text" ng-model="searchString" placeholder="Search for your items" /></li>
  </ul>
  </div>



 <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h3>
          <a ng-show="media.link != null" href="{{media.title}}">
            {{media.title}}
          </a>
          <span ng-hide="media.link != null">
            {{post.title}}
          </span>
        </h3>
      </div>

      <div ng-repeat="review in media.reviews | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(review)"></span>
        {{review.upvotes}} - by {{review.author}}
        <span style="font-size:20px; margin-left:10px;">
          {{review.body}}
        </span>
      </div>

      <form ng-submit="addReview()"
        style="margin-top:30px;">
        <h3>Add a new review</h3>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="REview"
          ng-model="review.body"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Author"
          ng-model="review.author"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>